<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="loggingApplicationBlock" type="Logging.Impl.LoggingConfigurationSection, Logging.Impl"/>
	</configSections>
	<loggingApplicationBlock>
		<logging>
			<loggerFactory type="Logging.Impl.Concrete.ConsoleOutLoggerFactory, Logging.Impl">

			</loggerFactory>
		</logging>
	</loggingApplicationBlock>
</configuration>