<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="loggingApplicationBlock">
			<section name="logging" type="Logging.Impl.LoggingConfigurationSection, Logging.Impl"/>
		</sectionGroup>
	</configSections>
	<loggingApplicationBlock>
		<loggerFactory type="Logging.Impl.Concrete.ConsoleOutLoggerFactory, Logging.Impl">
			<add name="level" value="Debug" />
			<add name="showLogName" value="true" />
			<add name="showDataTime" value="true" />
			<add name="dateTimeFormat" value="yyyy-MM-ddTHH:mm:ss:fff" />
		</loggerFactory>
		<!-- Use the following for NLog
		<logging>
			<loggerFactory type="Logging.Impl.Concrete.NLogLoggerFactory, Logging.Impl">
				<arguments>
					<add name="configType" value="FILE"/>
					<add name="configFile" value="~\NLog.config"/>
				</arguments>
			</loggerFactory>
		</logging>
		-->
	</loggingApplicationBlock>
</configuration>
