<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="loggingApplicationBlock">
			<section name="logging" type="Logging.Impl.LoggingConfigurationSection, Logging.Impl"/>
		</sectionGroup>
	</configSections>
	<loggingApplicationBlock>
		<logging>
			<loggerFactory type="Logging.Impl.Concrete.NLogLoggerFactory, Logging.Impl">
				<arguments>
					<add name="configType" value="FILE"/>
					<add name="configFile" value="~\NLog.config"/>
				</arguments>
			</loggerFactory>
		</logging>
	</loggingApplicationBlock>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
	</startup>
</configuration>
