<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogFile="c:\NLOGAPP.txt" internalLogLevel="Warn">

	<variable name="ApplicationName" value="[CHANGE-TO-YOUR-APPNAME]"/>
	<variable name="LogDirectory" value="C:\Logs"/>

	<variable name="EventLogSource" value="${ApplicationName}"/>
	<variable name="LogFileName" value="${LogDirectory}\${ApplicationName}"/>
	<!-- For Layout render macros see: http://nlog-project.org/wiki/Layout_renderers -->
	<variable name="FileLayout" value="${longdate}|${machinename}|${processid}|${threadid}|${windows-identity}|${level:uppercase=true}|${event-properties:EventID}|${logger}|${message}|${exception:format=tostring}"/>
	<variable name="EventLogLayout" value="Logged by: ${logger}${newline}${newline}${message}${newline}${exception:format=tostring}${newline}${newline}${newline}Process id: [${processId}]${newline}ThreadId: [${threadid}]${newline}Windows Identity: ${windows-identity}"/>

	<targets>
		<target name="file" type="AsyncWrapper">
			<target xsi:type="File"
						archiveEvery="Day"
						archiveAboveSize="10000000"
						maxArchiveFiles="10"
						archiveNumbering="Rolling"
						archiveFileName="${LogFileName}_${shortdate}_{##}.log"
						fileName="${LogFileName}.log"
						layout="${FileLayout}"
						concurrentWrites="false"/>
		</target>

		<target name="errorFile" type="AsyncWrapper">
			<target xsi:type="File"
						archiveEvery="Day"
						archiveAboveSize="10000000"
						maxArchiveFiles="10"
						archiveNumbering="Rolling"
						archiveFileName="${LogFileName}_ERROR_{##}.log"
						fileName="${LogFileName}_ERROR.log"
						layout="${FileLayout}"
						concurrentWrites="false"/>
		</target>

		<target name="eventlog" type="AsyncWrapper">
			<target xsi:type="EventLog"
							layout="${EventLogLayout}"
							source="${EventLogSource}"
							eventID="${event-properties:EventID}"
							log="Application"/>
		</target>
	</targets>
	
	<!--LOG LEVELS: (MIN) Trace, Debug, Info, Warn, Error, Fatal (MAX)-->
	<rules>
		<logger name="*" minlevel="Info" writeTo="eventlog" />
		<logger name="*" minlevel="Info" writeTo="file" />
		<logger name="*" minlevel="Error" writeTo="errorFile" />
	</rules>

</nlog>
