<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="loggingApplicationBlock">
			<section name="logging" type="Logging.Impl.LoggingConfigurationSection, Logging.Impl"/>
		</sectionGroup>
	</configSections>
	<loggingApplicationBlock>
		<logging>
			<loggerFactory type="Logging.Impl.Concrete.ConsoleOutLoggerFactory, Logging.Impl">
				<arguments>
					<add name="level" value="Debug" />
					<add name="showLogName" value="true" />
					<add name="showDataTime" value="true" />
					<add name="dateTimeFormat" value="yyyy-MM-ddTHH:mm:ss:fff" />
				</arguments>
			</loggerFactory>
		</logging>
	</loggingApplicationBlock>
</configuration>