<?xml version="1.0" encoding="utf-8" ?>
<nlog 
    throwExceptions="true" 
    xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd .\NLog.xsd">

    <variable name="LogDirectory" value="C:\Logs"/>

    <variable name="EventLogSource" value="ProducerConsumerQueue"/>
    <variable name="LogFileName" value="${LogDirectory}\${EventLogSource}"/>
    <!-- For Layout render macros see: http://nlog-project.org/wiki/Layout_renderers -->
    <variable name="FileLayout" value="${longdate} [${processid}][${threadid}] ${level:uppercase=true}:[${event-context:EventID}] ${logger} -  ${message} ${exception:format=tostring}" />
    <variable name="EventLogLayout" value="Logged by: ${logger}${newline}${newline}${message}${newline}${exception:format=tostring}${newline}${newline}ThreadId: [${threadid}]${newline}Windows Identity: ${windows-identity}"/>

    <targets>
        <target name="file" type="AsyncWrapper">
            <target xsi:type="File"
						archiveEvery="Day"
						archiveAboveSize="10000000"
						maxArchiveFiles="10"
						archiveNumbering="Rolling"
						archiveFileName="${LogFileName}_${shortdate}_{##}.log"
						fileName="${LogFileName}.log"
						layout="${FileLayout}"
						concurrentWrites="false"/>
        </target>

        <target name="eventlog" type="AsyncWrapper">
            <target xsi:type="EventLog"
					layout="${EventLogLayout}"
					source="${EventLogSource}"
					eventID="${event-context:EventID}"
					log="Application"/>
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="eventlog" />
        <logger name="*" minlevel="Trace" writeTo="file" />
    </rules>

</nlog>